@use "../../styles/mixins.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto:wght@100;300;400&family=Wix+Madefor+Display:wght@400;500&display=swap');

// font-family: 'Roboto', sans-serif;
// font-family: 'Wix Madefor Display', sans-serif;

*{
    color: white;
    overflow:visible;
    .container1{
        margin-top: 2rem;
        margin-left: 5rem;
        margin-right: 3rem;
        border-radius: 0.7rem;
        box-sizing: border-box;
        height: 43.15rem;
        width: 85rem;
        background: #00000076;
        padding: 0;
        border-right: 0.01rem solid rgba(255, 255, 255, 0.452);
        border-top: 0.01rem solid rgba(255, 255, 255, 0.452);
        border-bottom: 0.01rem solid rgba(255, 255, 255, 0.452);
    }
    .container{
        width:10rem;
        display: flex;
    }
    .container2{
        // width: 60rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
}