.chat_page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;

    .container {
        width: 80%;
        height: 80%;
        display: flex;
        justify-content: center;
        background: white;

        .contacts_container {
            border: 0.1rem solid black;
            width: 30%;

        }

        .cc_dontwant {
            display: none;
            width: 0%;
        }

        .cc_want {
            // display: block;
        }

        .chat_container {
            border: 0.1rem solid black;
            width: 72%;
        }

        .contactopen_btn {
            height: 0;
            width: 0;
            position: absolute;
            bottom: 7%;
            padding: 2%;
            .chat_btn
            {
                background: var(--white);
                color: white;
                font-size: 1.5rem;
                box-shadow: white 3px 3px, var(--white) 7px 7px;
                transition: transform 0.3s, background 0.3s;
                font-family: "Lexend Mega", sans-serif;
                letter-spacing: -0.1rem;
                &:hover {
                    transform: scale(1.05);
                    // background: rgb(76, 77, 94);
                    background: var(--home-page3-color);
                    color: var(--white);
                    border: 0.1rem solid black;
                }
            }
        }
    }
    .forblur {
        content: '';
        position: absolute;
        height: 100vh;
        width: 100vw;
        // backdrop-filter: blur(1rem);
        opacity: 0.7;
    }
}

@media screen and (max-width:1000px) {

    .contactopen_btn {
        position: absolute;
        bottom: 10%;

    }
}
// @media screen and (max-width:800px) {

//     .contactopen_btn {
//         position: absolute;
//         bottom: 10%;

//     }
// }