.home_container {
    display: flex;
    flex-direction: column;
    height: max-content;
    width: 100vw;
    overflow-y: scroll;
    /* Always show scrollbar */
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    overflow-x: hidden;

    .home_page1 {
        height: max-content;

        .navbar {
            display: flex;
            // justify-content: space-between;
            position: relative;
            top: 0;
            left: 0;
            height: 5rem;
            width: 100vw;
            background: var(--navbar-color);
            border-bottom: 0.2rem solid var(--white);

            .brand {
                display: flex;
                padding-left: 1%;
                align-items: center;

                .brand_img {
                    height: 6rem;
                    width: 6rem;
                }

                .brand_title {
                    font-family: "Protest Strike", sans-serif;
                    font-size: 2.5rem;
                    font-weight: 500;
                    color: var(--title-color);
                    -webkit-text-stroke: 0.05rem var(--white) !important;
                }

                padding-right: 5%;
            }

            .navbar_btn {
                height: 5rem;
                width: max-content;
                display: flex;
                align-items: center;
                justify-content: center;
                padding-left: 2%;
                border-left: 0.2rem solid var(--white);

                .navbar_login {
                    font-family: 'Archivo', sans-serif;
                    font-weight: 800;
                    padding: 5%;
                    font-size: 1.2rem;
                    text-decoration: none;
                    color: var(--white);
                    transition: color 0.3s;

                    &:hover {
                        color: rgb(76, 77, 94);
                    }

                }

                .navbar_register {
                    padding: 5%;
                    font-size: 1.2rem;
                    font-family: 'Archivo', sans-serif;
                    font-weight: 800;
                    text-decoration: none;
                    color: var(--white);
                    transition: color 0.3s;

                    &:hover {
                        color: rgb(76, 77, 94);
                    }
                }
            }
        }

        .home_taglinecontainer {
            display: flex;
            align-items: center;

            .home_tagline {
                padding-top: 2rem;
                font-family: "Archivo Black", sans-serif;
                font-size: 5rem;
                font-weight: 700;
                padding-left: 10%;
                padding-right: 0%;
                width: 60%;
                height: max-content;
                margin-bottom: 1rem;
                // word-wrap: break-word;

                .home_oneplace {
                    color: var(--home-page3-color);
                    -webkit-text-stroke: 0.1rem var(--white);
                }
            }

            .home_sticker1 {
                position: relative;
                top: 8rem;
                // left:-6rem;
                height: 5rem;
                width: 5rem;
            }

            .home_sticker2 {
                height: 15rem;
                width: 15rem;
                transition: transform 0.5s;

                &:hover {
                    transform: rotate(-30deg);
                }
            }
        }

        .home_subtagline_container {
            display: flex;
            flex-direction: row;
            padding-bottom: 15%;
            align-items: center;
            justify-content: center;

            .home_subtagline {
                font-size: 1.2rem;
                // padding-left: 10%;
                // padding-right: 10%;
                width: 60vw;
                font-family: 'Lexend Mega', sans-serif;
                letter-spacing: -0.2rem;
                padding-bottom: 2%;
            }

            .home_getstarted {
                text-decoration: none;
                font-size: 1.5rem;
                color: white;
                background: var(--white);
                height: max-content;
                width: max-content;
                padding: 1%;
                box-shadow: white 3px 3px, var(--white) 7px 7px;
                transition: transform 0.3s, background 0.3s;
                font-family: "Lexend Mega", sans-serif;
                letter-spacing: -0.1rem;

                &:hover {
                    transform: scale(1.05);
                    // background: rgb(76, 77, 94);
                    background: var(--home-page3-color);
                    color: var(--white);
                    border: 0.1rem solid black;
                }
            }
        }
    }

    .home_page2 {
        background: var(--navbar-color);
        // height: max(100vh, fit-content);
        height: max-content;
        overflow-x: hidden;
        border-top: 0.1rem dashed var(--white);
        padding-bottom: 1rem;

        .home_welcome {
            font-family: 'Lilita One', sans-serif;
            padding-left: 15%;
            padding-right: 15%;
            font-size: 6rem;
            color: white;
            -webkit-text-stroke: 0.05rem var(--text-stroke-color);
            text-shadow: 0.5rem 0.5rem 0 var(--white);
            display: flex;
            flex-direction: column;
            z-index: 1;

            .home_s1_sticker {
                height: 12rem;
                width: 12rem;
                z-index: 0;
                margin-bottom: -8rem;
                margin-top: 2rem;
            }

            // .home_page2title
            // {
            //     margin-bottom: 2%;
            // }

            .home_brandname {

                color: var(--white);
                text-shadow: none;
            }
        }

        .home_twoparas {
            font-size: 1.5rem;
            padding: 5%;
            padding-top: 2%;
            display: flex;
            flex-direction: row;
            margin-left: 7%;
            font-family: 'Archivo', sans-serif;
            letter-spacing: 0.1rem;
            font-size: 1.4rem;

            .home_problempara {
                width: 30rem;
                border: 0.1rem solid black;
                transform: rotate(-10deg);
                padding: 5%;
                background: rgb(240, 148, 151);
                box-shadow: var(--white) 7px 7px;
                transition: background 0.3s;

                &:hover {
                    background: var(--home-page3-color);
                }

            }

            .home_taskpara {
                width: 30rem;
                border: 0.1rem solid black;
                padding: 5%;
                transform: rotate(10deg);
                background: rgb(154, 211, 207);
                box-shadow: var(--white) 7px 7px;
                transition: background 0.3s;

                &:hover {
                    background: var(--home-page3-color);
                }
            }

            .home_paracontainer {
                display: flex;
                flex-direction: column;
                // margin-left: 7%;
                // justify-content: center;
                margin-right: 14%;
            }

            .home_sticker3 {
                position: relative;
                z-index: 2;
                height: 5rem;
                width: 5rem;
            }

            .home_sticker4 {
                position: relative;
                z-index: 2;
                height: 5rem;
                width: 5rem;
            }

            .para_title {
                font-family: 'Anton', sans-serif;
                font-size: 2.5rem;
                letter-spacing: 0.1rem;
                padding-bottom: 3%;
                font-weight: 600;
            }
        }
    }

    .home_page3 {
        height: max-content;
        background: var(--home-page3-color);
        border-top: 0.1rem dashed var(--white);

        .home_page3title {
            padding: 5%;
            font-family: 'Lilita One', sans-serif;
            font-size: 4rem;
            padding-left: 10%;
        }

        .home_page3container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            font-size: 1.5rem;
            padding: 5%;
            padding-top: 0;
            padding-bottom: 5%;
            font-family: 'Archivo', sans-serif;

            .home_boxtitle {
                font-family: 'Archivo Black', sans-serif;
                padding-bottom: 3%;
                padding-top: 3%;

            }

            .home_box1container {
                width: 15rem;
                background: var(--navbar-color);
                padding: 2%;
                margin: 2%;
                border: 0.1rem solid black;
                transition: background 1s;
                box-shadow: var(--white) 7px 7px;

                .box1sticker {
                    background: rgb(240, 148, 151);
                    border: 0.01rem solid black;
                    height: 3rem;
                    width: 3rem;
                    transition: background 1s;
                }

                &:hover {
                    background: rgb(240, 148, 151);

                    .box1sticker {
                        background: var(--navbar-color);
                    }
                }
            }

            .home_box2container {
                width: 20rem;
                background: var(--navbar-color);
                padding: 2%;
                margin: 2%;
                border: 0.1rem solid black;
                box-shadow: var(--white) 7px 7px;
                transition: background 1s;

                .box2sticker {
                    background: rgb(154, 211, 207);
                    border: 0.01rem solid black;
                    height: 3rem;
                    width: 3rem;
                    transition: background 1s;
                }

                &:hover {
                    background: rgb(154, 211, 207);

                    .box2sticker {
                        background: var(--navbar-color);
                    }
                }
            }

            .home_box3container {
                width: 25rem;
                background: var(--navbar-color);
                padding: 2%;
                margin: 2%;
                border: 0.1rem solid black;
                box-shadow: var(--white) 7px 7px;
                transition: background 1s;

                .box3sticker {
                    background: rgb(251, 208, 248);
                    border: 0.01rem solid black;
                    height: 3rem;
                    width: 3rem;
                    transition: background 1s;
                }

                &:hover {
                    background: rgb(251, 208, 248);

                    .box3sticker {
                        background: var(--navbar-color);
                    }
                }
            }

            .home_box4container {
                width: 30rem;
                background: var(--navbar-color);
                padding: 2%;
                margin: 2%;
                border: 0.1rem solid black;
                box-shadow: var(--white) 7px 7px;
                transition: background 1s;

                .box4sticker {
                    background: var(--link-color);

                    border: 0.01rem solid black;
                    height: 3rem;
                    width: 3rem;
                    transition: background 1s;
                }

                &:hover {
                    background: var(--link-color);

                    .box4sticker {
                        background: var(--navbar-color);
                    }
                }
            }
        }
    }

    .footer {
        background: var(--white);
        height: 20vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 1.1rem;
        font-family: 'Lexend Mega', sans-serif;
        letter-spacing: -0.2rem;
        border-top: 0.1rem dashed white;
        height: max-content;
        padding-top: 5%;
        padding-bottom: 2%;

        .footer_para {
            display: flex;
            flex-wrap: wrap;
            padding: 5%;
            padding-left: 7%;
            padding-bottom: 2%;

            a {
                color: white;
            }
        }

        .footerlogo_container {
            border: 0.1rem solid rgba(255, 255, 255, 0.082);
            height: max-content;
            width: max-content;
            border-radius: 50%;

            .footerlogo {

                height: 10rem;
                width: 10rem;
            }
        }
    }
}

@media screen and (max-width:1300px) {
    .home_page1 {
        justify-content: flex-start;
        align-items: flex-start;

        .home_subtagline_container {
            display: flex !important;
            flex-direction: column !important;
            align-items: flex-start !important;
            padding-left: 10%;

            .home_subtagline {
                font-size: 1rem !important;
                padding-bottom: 5% !important;
            }
        }

        .home_sticker1 {
            position: absolute;
            top: 10;
            right: 0;
        }

        .home_sticker2 {
            position: absolute;
            top: 10;
            right: 10%;
        }

        .home_tagline {
            font-size: 3rem !important;
        }
    }

    .home_page2 {
        .home_twoparas {
            margin-left: 0%;
            display: flex !important;
            flex-direction: column !important;
        }
    }
}

@media screen and (max-width :650px) {
    .home_page1 {
        .home_sticker1 {
            height: 3rem !important;
            width: 3rem !important;
        }

        .home_sticker2 {
            height: 8rem !important;
            width: 8rem !important;
            right: 0;
        }

    }

    .home_page2 {
        .home_s1_sticker {
            height: 7rem !important;
            width: 7rem !important;
            margin-bottom: -5.5rem !important;
        }

        .home_welcome {
            font-size: 4rem !important;
            padding-left: 5% !important;
        }

        .home_problempara {
            font-size: 1rem !important;
            width: 70% !important;
        }

        .home_taskpara {
            position: relative;
            right: 0;
            font-size: 1rem !important;
            width: 70% !important;
        }
    }
}

@media screen and (max-width:515px) {
    .home_page1 {
        .home_tagline {
            font-size: 2rem !important;
            z-index: 1;
        }

        .home_sticker2 {
            z-index: 0;
        }

        .home_subtagline_container {

            .home_subtagline {
                font-size: 0.8rem !important;
            }
        }

        .navbar {
            .navbar_btn {
                display: none !important;
            }
        }

        .home_getstarted {
            margin-bottom: 0;
        }
    }

    .home_page3 {
        .home_page3container {
            justify-content: center;
        }

        .home_box1container,
        .home_box2container,
        .home_box3container,
        .home_box4container {
            width: 70% !important;
            padding-bottom: 15% !important;
        }
    }
}