.loadercontainer {
   height: 100vh;
   width: auto;
   display: flex;
   justify-content: center;
   background: black;

   .loader1 {
      height: 20rem;
      width: auto;
      margin-bottom: 2rem;
   }

   .smallLight1 {
      position: absolute;
      top: 10;
      left: 0;
      height: 40rem;
      width: 30rem;
      background: radial-gradient(60rem circle at 0vw 45vh,
            rgba(12, 26, 152, 0.678),
            transparent 30%);
      z-index: 2;

      @media screen and (max-width: 900px) {
         height: auto;
         width: auto;
      }
   }
}