.login_container {
    color: black;
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;

    .brand {
        position: relative;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: row;
        height: max-content;
        width: max-content;
        text-decoration: none;

        background: transparent;
        .brand_img {
            background: transparent;
            height: 7rem;
            width: 7rem;
        }
        
        .brand_title {
            font-size: 3rem;
            background: transparent;
            // font-family: "Rock Salt", cursive;
            color: rgb(139, 90, 199);
            -webkit-text-stroke: 0.05rem rgba(6, 5, 5, 0.662);
        }
    }

    .form {
        // background:  url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(25)" opacity="0.8" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g  fill="%23d68810"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>'),white;
        // background-size: 10px;
        background: url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(0)" opacity="0.2" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g  fill="%23250E17"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>'), white;
        background-size: 10px;
        position: relative;
        left: 10%;
        top: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: 0.1rem solid black;
        height: 70%;
        width: 80%;
        box-shadow: rgb(139, 90, 199) 5px 5px, rgb(139, 90, 199, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;

        &::before {
            content: counter(item);
            display: block;
            -webkit-background-clip: text;
            color: transparent;
            font-weight: 700;
            font-size: clamp(1.2rem, 2rem + 2vw, 3rem);
        }

        .welcome_text {
            background: transparent;
            color: black;
            height: max-content;
            width: max-content;
            padding-bottom: 3rem;
            font-size: 2.2rem;
            font-weight: 700;
            font-family: "Rock Salt", cursive;
        }

        .username {
            background: transparent;
            height: 2rem;
            margin-bottom: 0.5rem;
            width: 17rem;
            font-size: 1rem;
            color: black;
            border: 0.1rem solid black;
            font-family: "Dekko", cursive;
            background: white;
            &::placeholder {
                padding: 0.1rem;
            }
        }

        .password {
            background: transparent;
            height: 2rem;
            margin-bottom: 2rem;
            width: 17rem;
            font-size: 1rem;
            color: black;
            border: 0.1rem solid black;
            font-family: "Dekko", cursive;
            background: white;
            &::placeholder {
                padding: 0.1rem;
            }
        }

        .submit {
            background: transparent;
            height: 2.5rem;
            font-size: 1.2rem;
            margin-bottom: 1rem;
            color: white;
            background: rgb(139, 90, 199);
            border-bottom: 0.2rem solid black;
            border-right: 0.2rem solid black;
            border-radius: 0.2rem;
            transition: transform 0.3s;
            font-family: "Dekko", cursive;

            &:hover {
                transform: scale(1.05);
            }
        }

        .login_link {
            background: transparent;
            height: 4rem;
            color: black;
            font-size: 1.1rem;
            padding: 5%;
            padding-top: 1rem;
            line-break: loose;
            font-family: "Rock Salt", cursive;

            .register {
                background: transparent;
                height: 4rem;
                color: rgb(240, 46, 170);
                font-weight: 700;
            }
        }
    }
}

@media (max-width: 500px) and (min-width: 389px) {
    .login_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .brand {
            position: relative;
            left: -2rem;

            .brand_title {
                font-size: 3rem;
            }

            .brand_img {
                height: 8rem;
                width: 8rem;
            }
        }

        .form {
            top: 0;
            left: 0;
        }
    }
}

@media (max-width: 390px) {
    .login_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .brand {
            position: relative;
            left: -2rem;

            .brand_title {
                font-size: 3rem;
            }

            .brand_img {
                height: 8rem;
                width: 8rem;
            }
        }

        .form {
            top: 0;
            left: 0;

            .username,
            .password {
                width: 14rem;
            }
        }
    }
}