.login_container {
    color: var(--white);
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;

    .brand {
        position: relative;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: row;
        height: max-content;
        width: max-content;
        text-decoration: none;

        background: transparent;

        .brand_img {
            background: transparent;
            height: 7rem;
            width: 7rem;
        }

        .brand_title {
            font-size: 3rem;
            background: transparent;
            // font-family: "Rock Salt", cursive;
            font-family: "Protest Strike", sans-serif;
            color: var(--title-color);
            -webkit-text-stroke: 0.01rem rgba(6, 5, 5, 0.662);
        }
    }

    .form {
        // background:  url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(25)" opacity="0.8" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g  fill="%23d68810"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>'),white;
        // background-size: 10px;
        // background: url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(0)" opacity="0.2" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g  fill="%23250E17"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>'), white;
        background: white;
        background-size: 10px;
        position: relative;
        left: 10%;
        top: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: 0.1rem solid var(--white);
        height: 70%;
        width: 80%;
        // box-shadow: var(--title-color) 7px 7px, rgb(139, 90, 199, 0.3) 12px 12px, rgba(240, 46, 170, 0.2) 17px 17px, rgba(240, 46, 170, 0.1) 22px 22px, rgba(240, 46, 170, 0.05) 2px 27px;
        box-shadow: var(--white) 7px 7px;

        &::before {
            content: counter(item);
            display: block;
            -webkit-background-clip: text;
            color: transparent;
            font-weight: 700;
            font-size: clamp(1.2rem, 2rem + 2vw, 3rem);
        }

        .welcome_text {
            background: transparent;
            color: var(--white);
            height: max-content;
            width: max-content;
            padding-bottom: 3rem;
            font-size: 2.5rem;
            font-weight: 700;
            font-family: "Lexend Mega", sans-serif;
            letter-spacing: -0.3rem;
        }

        .username {
            background: transparent;
            height: 2rem;
            margin-bottom: 0.5rem;
            width: 17rem;
            font-size: 1rem;
            color: var(--white);
            border: 0.1rem solid var(--white);
            font-family: "Archivo", sans-serif;
            background: white;

            &::placeholder {
                padding: 0.2rem;
            }
        }

        .password {
            background: transparent;
            height: 2rem;
            margin-bottom: 2rem;
            width: 17rem;
            font-size: 1rem;
            color: var(--white);
            border: 0.1rem solid var(--white);
            font-family: "Archivo", sans-serif;
            background: white;

            &::placeholder {
                padding: 0.2rem;
            }
        }

        .submit {
            background: transparent;
            height: 2.5rem;
            font-size: 1.2rem;
            margin-bottom: 1rem;
            color: white;
            background: var(--title-color);
            // border-radius: 0.2rem;
            transition: transform 0.3s;
            // font-family: "Archivo", sans-serif;
            font-family: "Lexend Mega", sans-serif;
            letter-spacing: -0.1rem;
            box-shadow: var(--white) 2px 2px;

            &:hover {
                transform: scale(1.05);
            }
        }

        .login_link {
            background: transparent;
            height: 4rem;
            color: var(--white);
            font-size: 1.2rem;
            padding: 5%;
            padding-top: 1rem;
            line-break: loose;
            // font-family: "Rock Salt", cursive;
            font-family: "Archivo", sans-serif;
            
            .register {
                background: transparent;
                height: 4rem;
                color: var(--link-color);
                font-weight: 700;
                text-decoration: none;
            }
        }
    }
    
}

@media (max-width: 500px) and (min-width: 389px) {
    .login_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: max-content;
        .brand {
            position: relative;
            left: -2rem;

            .brand_title {
                font-size: 3rem;
            }

            .brand_img {
                height: 8rem;
                width: 8rem;
            }
        }

        .form {
            top: 0;
            left: 0;
        }
    }
}

@media (max-width: 390px) {
    .login_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .brand {
            position: relative;
            left: -2rem;

            .brand_title {
                font-size: 3rem;
            }

            .brand_img {
                height: 8rem;
                width: 8rem;
            }
        }

        .form {
            top: 0;
            left: 0;

            .username,
            .password {
                width: 14rem;
            }
        }
    }
}