@use "../../styles/mixins.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto:wght@100;300;400&family=Wix+Madefor+Display:wght@400;500&display=swap');

// font-family: 'Roboto', sans-serif;
// font-family: 'Wix Madefor Display', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Audiowide&family=Gruppo&family=Lexend+Peta:wght@500;600;700&family=Rajdhani:wght@300;400&family=Roboto:wght@400;500&family=Sora:wght@500;600&display=swap');
// font-family: 'Arvo', serif;
// font-family: 'Audiowide', cursive;
// font-family: 'Gruppo', sans-serif;
// font-family: 'Lexend Peta', sans-serif;
// font-family: 'Rajdhani', sans-serif;
// font-family: 'Sora', sans-serif;
// font-family: 'Roboto', sans-serif;

* {
    background: radial-gradient(circle at 90vw 0vh,
            rgba(69, 25, 203, 0.317),
            #07021397 50%);
    align-items: center;
    overflow: hidden;

    border: 0px;
    margin: 0px;

    .container {
        .smallLight {
            position: absolute;
            top: 0;
            left: 0;
            height: 30rem;
            width: 30rem;
            background: radial-gradient(50rem circle at 0vw 25vh,
                    rgba(12, 136, 152, 0.306),
                    transparent 30%);
            z-index: -1;

            @media screen and (max-width: 900px) {
                height: auto;
                width: auto;
            }
        }

        .cursor1 {
            border: 0.1rem solid rgba(255, 255, 255, 0.772);
            height: 1.2rem;
            width: 1.2rem;
            border-radius: 50%;
            // box-shadow: 120px 80px 40px 20px rgb(23, 207, 207);
            position: fixed;
            top: 0;
            left: 0;
            pointer-events: none;
            z-index: 5;
        }

        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: auto;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);

        // border-radius: 50%;
        .form {
            z-index: 4;
            color: white;
            border-radius: 3rem;
            height: 30rem;
            width: 50rem;
            @include mixins.flexCenter;
            flex-direction: column;
            border: 0.01rem solid rgba(255, 255, 255, 0.386);
            border-color: #269ebf;
            box-shadow: 0 0 0.5rem #2684bf;
            background: inherit;
            font-family: 'Wix Madefor Display', sans-serif;

            @media screen and (min-width:501px) and (max-width: 900px) {
                height: 50rem;
                width: 30rem;
            }

            @media screen and (max-width: 500px) {
                height: 40rem;
                width: 25rem;
            }

            .brand {
                @include mixins.flexCenter;
                font-family: 'Poppins', sans-serif;
                font-size: 1.5rem;
                height: 5rem;
                margin-bottom: 1.8rem;
                background: initial;

                .image {
                    height: 7rem;
                    width: 7rem;
                    background: inherit;
                }

                .chatify {
                    font-family: 'Gruppo', sans-serif;
                    // animation: slideInLeft 1s ease-in-out;
                    background: inherit;

                    @media screen and (max-width: 500px) {
                        margin-left: 0.3rem;
                    }
                }
            }

            .register {
                font-family: 'Gruppo', sans-serif;
                font-weight: 900;
                font-size: 1.5rem;
                margin-bottom: 0.5rem;
                background: inherit;
                height: max-content;
            }

            .username {
                height: 2rem;
                width: 20rem;
                margin: 0.3rem;
                font-size: 1rem;
                outline: none;
                color: white;
                background: inherit;

                @media screen and (max-width: 350px) {
                    width: 15rem;
                }

                &:hover {
                    transition-duration: 0.8s;
                    border-bottom: 0.03rem solid rgba(241, 242, 250, 0.498);
                }

            }

            .password {
                height: 2rem;
                width: 20rem;
                margin: 0.3rem 0rem 1rem 0rem;
                font-size: 1rem;
                outline: none;
                color: white;
                background: inherit;

                &:hover {
                    transition-duration: 0.7s;
                    border-bottom: 0.03rem solid rgba(241, 242, 250, 0.498);
                }

                @media screen and (max-width: 350px) {
                    width: 15rem;
                }
            }

            .submit {
                height: 2rem;
                font-size: 1rem;

                padding: 0.3rem 1rem;
                background: radial-gradient(10rem circle at bottom right,
                        rgb(35, 33, 68),
                        rgb(98, 65, 215));
                border-radius: 0.3rem;
                cursor: pointer;
                transition: all 0.3s ease-in-out;
                color: white;
                border: 0.001rem solid rgba(255, 255, 255, 0.114);

                &:hover {
                    background: radial-gradient(circle at top right,
                            rgb(35, 33, 68),
                            rgb(98, 65, 215));
                }

                margin-bottom: 2rem;
            }

            .loginlink {
                height: 2rem;
                background: inherit;

                .login {
                    font-weight: 600;
                    color: rgb(122, 96, 219);
                }
            }

        }
    }

    .toastcontainer {
        height: max-content;
        margin-bottom: 2rem;
    }
    .nootbox{
        position: absolute;
        right: 2;
        height: 13rem;
        width: auto;
        z-index: 5;
    }
}

@keyframes slideInLeft {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}