@use "../../styles/mixins.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto:wght@100;300;400&family=Wix+Madefor+Display:wght@400;500&display=swap');


.loader{
    background: rgb(35, 33, 68)!important;
    display: flex;
    align-items: center;
    width: 100vw;
    height:100vh;
    top:50vh;
    left:50vw;
    @include mixins.flexCenter;
    .spinnerbox {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        position: fixed;
        top: 0;
        left: 0;
    }

    .configureborder1 {
        width: 10rem;
        height: 10rem;
        padding: 3px;
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgb(35, 33, 68);
        border-color: #85c2d3;
        box-shadow: 0 0 1.7rem #15c4e3;
        top:40vh;
        left:45vw;
        animation: configure-clockwise 3s ease-in-out 0s infinite alternate;
    }

    .configureborder2 {
        width: 10rem;
        height: 10rem;
        position: fixed;
        padding: 3px;
        top:40vh;
        left:45vw;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgb(35, 33, 68);
        border-color: #263dbf;
        box-shadow: 0 0 1.7rem #2b26bf;
        transform: rotate(45deg);
        animation: configure-xclockwise 3s ease-in-out 0s infinite alternate;
    }

    .configurecore {
        width: fit-content;
        height: fit-content;
        background-color: #020116;
    }
}


.page{
    background: radial-gradient(circle at 90vw 5vh,
            rgb(122, 96, 219),
            rgb(35, 33, 68) 50%);
    align-items: center;
    overflow: hidden;

    border: 0px;
    margin: 0px;



    .container {


        .smallLight {
            position: absolute;
            top: 0;
            left: 0;
            height: 30rem;
            width: 30rem;
            background: radial-gradient(50rem circle at 0vw 10vh,
                    rgb(104, 80, 190),
                    transparent 30%);
        }

        .cursor1 {
            border: 0.1rem solid rgba(255, 255, 255, 0.772);
            height: 1.2rem;
            width: 1.2rem;
            border-radius: 50%;
            position: fixed;
            top: 0;
            left: 0;
            pointer-events: none;
            z-index: 5;
        }

        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: auto;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);

        .container1 {
            border-radius: 3rem;
            height: 25rem;
            width: 50rem;
            @include mixins.flexCenter;
            flex-direction: column;
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            border: 1px solid rgba(255, 255, 255, 0.18);
        }

        .title_container {

            .title {
                font-family: 'Wix Madefor Display', sans-serif;
                color: antiquewhite;
                font-size: 1.5rem;
                margin: 3rem;
            }
        }

        .avatar {
            @include mixins.flexCenter;

            .image {
                height: 5rem;
                width: 5rem;
                z-index: 5;
                margin: 1rem 0.7rem 3rem 0.7rem;
                border: 0.1rem solid rgba(255, 255, 255, 0.18);
                border-radius: 50%;

                &:hover {
                    outline: none;
                    border-color: #269ebf;
                    box-shadow: 0 0 10px #2684bf;
                }

                &::select{
                    outline: none;
                    // border-color: #dd5f1f;
                    // box-shadow: 0 0 10px #bf2e26;
                    border:2rem solid white;
                }
            }
        }

        .submit {
            height: 2rem;
            font-size: 1rem;

            padding: 0.3rem 1rem;
            background: radial-gradient(10rem circle at bottom right,
                    rgb(35, 33, 68),
                    rgb(122, 96, 219));
            border-radius: 0.3rem;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            color: white;

            &:hover {
                background: radial-gradient(circle at top right,
                        rgb(35, 33, 68),
                        rgb(122, 96, 219));
            }

            margin-bottom: 2rem;
        }
    }
}


@keyframes configure-clockwise {
    0% {
        transform: rotate(0);
    }

    25% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes configure-xclockwise {
    0% {
        transform: rotate(45deg);
    }

    25% {
        transform: rotate(-45deg);
    }

    50% {
        transform: rotate(-135deg);
    }

    75% {
        transform: rotate(-225deg);
    }

    100% {
        transform: rotate(-315deg);
    }
}