.set_avatar_container {
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    .select_avatar_container {
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: 0.2rem dashed var(--white);
        border-radius: 0.5rem;
        height: max-content;
        width: 65%;

        .title_container {
            margin-bottom: 3rem;
            padding: 3%;

            .title {
                font-size: 2.5rem;
                text-wrap: wrap;
                font-family: 'Legend Mega',sans-serif;
                letter-spacing: -0.1rem;
            }
        }

        .avatars {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            flex-wrap: wrap;

            .avatar_img {
                height: 5rem;
                width: 5rem;
                border: 0.1rem solid black;
                border-radius: 50%;
                margin-left: 1rem;
                transition: transform 0.3s ease;
                // opacity: 0.7;
                filter:contrast(70%);
                &:hover {
                    transform: scale(1.1);
                }

            }

            .selected {
                .avatar_img {
                    filter: contrast(110%);
                    height: 5rem;
                    width: 5rem;
                    // border: 0.2rem solid var(--title-color);
                    border-radius: 50%;
                    margin-left: 1rem;
                    transform: scale(1.1);
                }
            }

            margin-bottom: 5%;
        }

        .submit {
            background: transparent;
            height: max-content;
            padding: 1%;
            font-size: 1.2rem;
            margin-bottom: 1rem;
            color: white;
            background: var(--title-color);
            transition: transform 0.3s;
            font-family: "Lexend Mega", sans-serif;
            letter-spacing: -0.1rem;
            box-shadow: var(--white) 2px 2px;
            margin-bottom: 5rem;
            text-wrap: wrap;

            &:hover {
                transform: scale(1.05);
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .set_avatar_container {
        .select_avatar_container {
            .title_container {
                padding-bottom: 3%;

                .title {
                    font-size: 1.5rem;
                }
            }

            .avatars {
                .avatar_img {
                    height: 3rem;
                    width: 3rem;
                }
            }

            .submit {
                font-size: 1rem;
                margin: 5%;
                margin-bottom: 2rem;
            }
        }
    }
}