@use "../../styles/mixins.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto:wght@100;300;400&family=Wix+Madefor+Display:wght@400;500&display=swap');



.page {
    background: radial-gradient(circle at 100vw 5vh,
            rgba(25, 25, 203, 0.014),
            black 50%);
    align-items: center;
    overflow: hidden;

    border: 0px;
    margin: 0px;



    .container {


        .smallLight {
            position: absolute;
            top: 0;
            left: 0;
            height: 30rem;
            width: 30rem;
            background: radial-gradient(50rem circle at 0vw 25vh,
                    rgba(12, 136, 152, 0.306),
                    transparent 30%);
        }

        .cursor1 {
            border: 0.1rem solid rgba(255, 255, 255, 0.772);
            height: 1.2rem;
            width: 1.2rem;
            border-radius: 50%;
            position: fixed;
            top: 0;
            left: 0;
            pointer-events: none;
            z-index: 5;
        }

        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: auto;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);

        .container1 {
            border-radius: 3rem;
            height: 25rem;
            width: 50rem;
            @include mixins.flexCenter;
            flex-direction: column;
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            border: 0.01rem solid rgba(255, 255, 255, 0.386);
            border-color: #269ebf;
            box-shadow: 0 0 0.5rem #2684bf;
            background: #020116;
        }

        .title_container {
            .title {
                font-family: 'Arvo', sans-serif;
                color: antiquewhite;
                font-size: 2rem;
                margin: 3rem;
                background: #020116;
            }
        }

        .avatars {
            @include mixins.flexCenter;


            .image {
                height: 5rem;
                width: 5rem;
                z-index: 5;
                margin: 1rem 0.7rem 3rem 0.7rem;
                border: 0.1rem solid rgba(255, 255, 255, 0.18);
                border-radius: 50%;

                &:hover {
                    outline: none;
                    border-color: #269ebf;
                    box-shadow: 0 0 10px #2684bf;
                }

            }

            .selected {
                .image {
                    outline: none;
                    border-color: #bf6126;
                    box-shadow: 0 0 10px #bf3a26;
                }
            }

        }

        .submit {
            height: 4rem;
            font-size: 1.2rem;

            padding: 0.3rem 1rem;
            background: radial-gradient(10rem circle at bottom right,
                    rgb(35, 33, 68),
                    rgb(98, 65, 215));
            border: 0.01rem solid rgba(255, 255, 255, 0.281);
            border-radius: 0.3rem;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            color: white;

            &:hover {
                background: radial-gradient(circle at top right,
                        rgb(35, 33, 68),
                        rgb(98, 65, 215));
            }

            margin-bottom: 2rem;
        }
    }

    .toastcontainer {
        height: max-content;
        margin-bottom: 2rem;
    }
}


@keyframes configure-clockwise {
    0% {
        transform: rotate(0);
    }

    25% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes configure-xclockwise {
    0% {
        transform: rotate(45deg);
    }

    25% {
        transform: rotate(-45deg);
    }

    50% {
        transform: rotate(-135deg);
    }

    75% {
        transform: rotate(-225deg);
    }

    100% {
        transform: rotate(-315deg);
    }
}