.chatcontainer_page {
    display: flex;
    flex-direction: column;

    .navbar {
        height: 5%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 0.1rem solid var(--white);
        padding: 1%;
        .chat_avatar {
            display: flex;
            flex-direction: row;
            align-items: center;

            .chat_img {
                height: 3rem;
                width: 3rem;
            }

            .chat_user {
                font-size: 2rem;
                font-family: 'Lexend Mega',sans-serif;
                letter-spacing: -0.2rem;
            }
        }

        .chat_btn {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 1%;
            .home_btn {
                height: 2rem;
                width: 2rem;
            }

            .logout_btn {
                height: 2rem;
                width: 2rem;
            }
        }
    }

    .chat_msgs {
        height: 58vh;
        overflow-y: scroll;
        border-bottom: 0.1rem dashed var(--white);
        overflow-x: hidden;
        .msg_inout {
            display: flex;
            flex-direction: column;
            font-family: 'Archivo',sans-serif;
        
            .msg_container {
                display: flex;
                flex-direction: column;
            }
            
            .sent {
                align-self: flex-end; 
                padding: 2%;
                margin: 2%;
                width: min(6rem, max-content);
                border: 0.1rem solid var(--white);
                word-break: break-all;
            }
            
            .received {
                align-self: flex-start; /* Aligns received messages to the left */
                padding: 2%;
                margin: 2%;
                width: max-content;
                border: 0.1rem solid var(--white);
            }
        }
        
        

    }
}