@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Audiowide&family=Gruppo&family=Lexend+Peta:wght@500;600;700&family=Rajdhani:wght@300;400&family=Roboto:wght@400;500&family=Sora:wght@500;600&display=swap');
// font-family: 'Arvo', serif;
// font-family: 'Audiowide', cursive;
// font-family: 'Gruppo', sans-serif;
// font-family: 'Lexend Peta', sans-serif;
// font-family: 'Rajdhani', sans-serif;
// font-family: 'Sora', sans-serif;
// font-family: 'Roboto', sans-serif;


* {
    .button {
        height: 2.2rem;
        background: inherit;
        border-radius: 0.3rem;
    }
    
    .buttonicon {
        height: 2.2rem;
        width: 2.2rem;
        border-radius: 0.3rem;
        cursor: pointer;
        color: white;
        background:inherit;
        margin-right: 0.5rem;
        // z-index: 3;
    }
}