.contacts_page {
    // height: 100vh;

    .contacts_container {
        display: flex;
        flex-direction: column;

        .brand {
            display: flex;
            flex-direction: row;
            align-items: center;
            border-bottom: 0.1rem solid var(--white);

            .brand_title {
                font-size: 2.5rem;
                font-family: "Protest Strike", sans-serif;
                color: var(--title-color);
                -webkit-text-stroke: 0.05rem var(--white) !important;
            }

            .brand_img {
                height: 6rem;
                width: 6rem;
            }
        }

        .contacts {
            height: 43vh;
            overflow-y: scroll;

            // padding: 5%;
            .avatar_container {
                display: flex;
                flex-direction: row;
                height: 5rem;
                width: 100%;
                align-items: center;
                border-bottom: 0.01rem solid var(--white);

                .avatar_img {
                    padding: 5%;
                    height: 3rem;
                    width: 3rem;
                }

                .username_container {
                    font-size: 1.2rem;
                    font-family: 'Lexend Mega',sans-serif;
                }
            }
        }

        .user_avatar {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 7rem;
            border-top: 0.1rem solid var(--white);
            padding: 5%;

            .user_img {
                height: 4rem;
                width: 4rem;
            }

            .user_name {
                font-size: 2rem;
                font-family: 'Archivo Black',sans-serif;
            }
        }
    }
}