.EmojiPickerReact {
  z-index: 10;
  position: fixed !important;
  top: 12rem !important;
  width: 20rem !important;
  // background: #211c40 !important;\
  // .epr-search-container{
  //   // background: white!important;
  // }
}