.input_page {
    // height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .emoji_container {
        padding-top: 0.5rem;
        padding-left: 2%;
        padding-right: 2%;
        font-size: 3rem;
    }

    .input_container {
        display: flex;
        align-items: center;
        .msg_input {
            height: 2rem;
            margin-right: 1%;
            width: 40vw;
        }
        .send_container
        {
            width: 3rem;
            height: 3rem;
            font-size: 3rem;
            border: none;
            background: transparent;
            display: flex;
            align-items: center;
        }
    }
}