@use "../../styles/mixins.scss";
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Audiowide&family=Gruppo&family=Lexend+Peta:wght@500;600;700&family=Rajdhani:wght@300;400&family=Roboto:wght@400;500&family=Sora:wght@500;600&display=swap');

// font-family: 'Arvo', serif;
// font-family: 'Audiowide', cursive;
// font-family: 'Gruppo', sans-serif;
// font-family: 'Lexend Peta', sans-serif;
// font-family: 'Rajdhani', sans-serif;
// font-family: 'Sora', sans-serif;
// font-family: 'Roboto', sans-serif;
* {
    .container {
        display: flex;
        flex-direction: column;
        height: 43rem;
        width: 65vw;
        border-left: 0.001rem solid rgba(255, 255, 255, 0.84);
        border-top-right-radius: 0.7rem;
        border-bottom-right-radius: 0.7rem;
        align-items: center;
        background: black;
    }

    .imagif {
        height: 30rem;
        background: black;
    }

    .image {
        height: 30rem;
        background: black;
    }

    .text {
        background: black;
        height: auto;
    }
    
    .t1 {
        background: black;
        // margin-top: 3rem;
        color:#8947bf;
        padding-right: 2rem;
        padding-left: 2rem;
        height: auto;
        font-size: 4vw;
        font-family: 'Arvo', serif;
    }
    
    .t3 {
        font-family: 'Audiowide', cursive;
        background: black;
        margin-top: 1rem;
        padding-left: 2rem;
        height: auto;
        font-size: 1.4vw;
    }
    
    .t2 {
        background: black;
        color: #6320b3;
        height: auto;
    }
}

@media screen and (min-width: 651px) and ( max-width: 1000px) {
    .container{
        width: 75vw;
    }
}
@media screen and (max-width:650px) {
    .container{
        width: 75vw;
    }
    .image {
        margin-top: 5rem;
        width: 70vw;
        height: auto;
    }
    .t1,.t2{
        font-size: 1.5rem;
    }
    .t3{
        font-size: 1rem;
    }
}