
.welcome_page
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    .img_container
    {
        padding: 5%;
        .welcome_img
        {
            height: 100%;
            width: 100%;
        }
    }
    .text_container
    {
        padding: 5%;
        font-family: 'Archivo',sans-serif;
        font-size: 2.5rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        .welcome_text
        {
            font-family: 'Archivo Black',sans-serif;
            .welcome_name
            {
                color: var(--home-page3-color);
                -webkit-text-stroke: 0.05rem rgba(6, 5, 5, 0.662);
            }
        }
        .welcome_para
        {
            font-size: 1.5rem;
        }
    }
}